.Input{
    margin-top: 40px;
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: 0;
}

.Input-Box{
    display: inline-block;
    width: 40%;
    z-index: 2;
    border-radius: 50px;
    padding: 20px 30px;
    margin-left: 200px;
    font-size: 25px;
    border: none;
    transition: 0.5s;
    box-shadow: inset 0 0 5px black;
    border-color: antiquewhite;
}


.Input-Box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.2);
    outline: none;
    width: 60%;
    transition: 0.5s;
}

.Input-Submite{
    display: inline-block;
    border-radius: 50px;
    position: relative;
    right: 0px;
    transform: translateX(-158px);
    padding: 20px 30px;
    font-size: 25px;
    color: antiquewhite;
    z-index: 2;
    border: none;
    box-shadow: 0 0 15px;
    background: darkblue;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: 0.4s;

}
.Input-Submite:hover{
    background: aqua;
    opacity: 0.6;
    color: rgb(27, 27, 82);
}

.todos{
    margin-top: 80px;
    display: grid;
    width: 80%;
    transition: 0.5s;
}
.todos .task{
    display: flex;
    justify-content: space-between;
    z-index: 0;
    list-style: none;
    color: darkblue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 18px;
    border-radius: 50px;
    text-align: left;
    transition: 0.3s;
    background-color: aqua;
}
.todos .task .btns{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}


.todos .task:hover{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.todos .task .text{
    font-size: 23px;
    margin-left: 30px;
}

.btn{
    background-color: darkblue;
    border: none;
    color: antiquewhite;
    font-size: 25px;
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    transition: 0.3s;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
